.limpiar{
	clear: both;
}
.logo{
    position:  relative;
    width: 165px;
    top: -6px;
}
#cabecera{
    height: 150px;
	background-color: #fff;
	border-color:#fff;
	
}
.dropdown:hover ul{
    display: block
}
.navbar-nav{
    padding-top: 50px
}
#navegacion li a{
	color:#585757;
	font-weight: bold;
    padding: 10px 0;

    border-width: 2px 0;
    border-style: solid;
    border-color: transparent;
}
.navbar-nav > li + li{
    margin-left: 44px;
}

#navegacion li.active a{
    background-color: transparent;
    color: #5cbc21;
    border-color: #5cbc21;
}

.footer-nav li{
    list-style: none;
    float: left;
}
.footer-nav li a{
    font-weight: 800;
    color: #2a2828
}
.footer-nav li + li{
    margin-left:  20px
}
.dropdown-menu{
    background-color: #94c11f !important;
    left: 50% !important;
    transform: translateX(-50%) !important
}
.dropdown-menu a{
    text-align: center;
    color: white !important;
}
.dropdown-menu li + li a {
    border-top: 1px dashed white !important
}
.dropdown-menu li  a {
    border-bottom: none !important
}
.dropdown-menu a:hover{
    background-color: #AAD43D !important;
}

@media only screen and (max-width:780px){
    .footer-nav{
        padding:  0
    }
    .footer-nav li{
        float: none;
        margin: 20px 0  0 0 !important;
    }
    .navbar-collapse{
        position: relative;
        z-index: 100;
        background-color: white;
    }
    .navbar-collapse ul{
        padding: 0;
    }
    .navbar-collapse li{
        margin-left: 0px !important;
    }
    .navbar-collapse li a{
        padding-left: 10px !important;
        text-align: left
        
    }
    .dropdown-menu{
        left: 0 !important;
        transform: none !important
    }
    .dropdown-menu li a{
        padding-left: 40px !important;
    }
}

#banner-prin{
	background: url(../images/home-banner.jpg) no-repeat center fixed;
	background-size: cover;
    padding: 70px 0;

}

#banner-prin h1{
	font-size: 3.5em;
	font-weight: bold;
	color: #fff;
	line-height: 1.5em;
}

.pie-clearfix:after{
    content: "";
    display: table;
    clear: both;
}

.boton{
	background-color: #95c11e !important;
	border-color:#95c11e !important;
	border-radius: 0px !important;
	padding: 10px 15px !important;
	margin: 7px 7px 7px 0;
	font-weight: bold !important;
	font-size: 1.2em !important;
	-webkit-box-shadow: 0px 4px 0px 0px rgba(117,136,54,1);
-moz-box-shadow: 0px 4px 0px 0px rgba(117,136,54,1);
box-shadow: 0px 4px 0px 0px rgba(117,136,54,1);


}


#quienes-somos h1,.title{
	text-align: center;
	color: #585757;
	font-size: 2em;
	margin-bottom: 25px;
	font-weight: bold;
}

#quienes-somos p,.alpha{
	max-width: 800px;
	margin: 0 auto;
	text-align: center;
	color: #9d9c9c;
	font-weight: lighter;
	font-size: 1.5em;

}

.img-responsive{
	max-width: 100px;
	margin: 35px auto;
}

#mision-vision {
	padding: 5em 0 10em 0;
	border-bottom: 1px dashed #9d9c9c;
}


#mision-vision p{
	text-align: center;
	color: #9d9c9c;
	font-weight: lighter;
	font-size: 1.5em;
	padding: 0 2.5em;

}

#valores-new h1{
	text-align: center;
	color: #585757;
	font-size: 2em;
	margin-bottom: 25px;
	font-weight: bold;

}


#valores-new p{
	text-align: center !important;
	color: #9d9c9c !important;
	font-size: 1.5em !important;
	font-weight: bold !important;

}

#piepagina{
	background-color:#fff !important;
	color:#585757;
}


.mision-vision-img{
    float: left;
}

.mision-vision-mision:after{
    content: "";
    position: absolute;
    top: 0;
    left: -15px;
    width: 1px;
    height: 100%;
    border-left: 1px solid #082118;
}


.mision-vision span{
    font-weight: 800;
    color: #082118;
    font-size: 14px;
}

.mision-vision-img + p{
    float: right;
    width: calc(100% - 80px);
    font-size: 14px !important;
    text-align: left!important;
}



/*------------------------------------
                GLOBAL
-------------------------------------*/


.hero{
    height: 270px;
    margin-bottom: 90px;
    background-position: left center;
    padding-left: 50px;
    background-size: cover
}

.hero-caption{
    color:white;
    font-size: 20px;
    text-transform: uppercase;
    position: relative;
    top: -8px
}

.hero-text{
    position: relative;
    top: 50%;
    transform: translateY(-50%)
    
}

.hero-title{
    font-weight: 800;
    font-size: 55px;
    color: white;
}

.beta{
    font-size: 25px;
    font-weight: 800;
}
.beta--green{
    color: #9fe31f
}

.button{
    position: relative;
    color: white;
    font-size: 23px;
    font-weight: 800;
    padding: 5px 56px 5px 20px;
    border-width: 0 0 5px 0;
    border-style: solid;
}

.button:after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    cursor: pointer;
    right: 0;
    height: 100%;
    width: 40px;
}
.button:hover{
    color:white;
    text-decoration: none
}
.button--yellow{
    background-color: #ffce00;
    border-color: #896f00
}

.button--yellow:after{
    background-color: #fbba00
}

.button--green{
    background-color: #94c11f;
    border-color: #576B23
}

.button--green:after{
    background-color: #6fab27;
}

.button--icon{
    position: absolute;
    width: 16px;
    height: 16px;
    right: 11px;
    top: 0;
    bottom: 0;
    z-index: 2;
    margin: auto;
}

.button--icon:before,.button--icon:after{
    content: "";
    display: block;
    position: absolute;
    background-color: white;
}

.button--icon:before{
    width: 100%;
    height: 4px;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
}

.button--icon:after{
    width: 4px;
    height: 100%;
    top: 0;
    margin: auto;
    left: 0;
    right: 0;
}


@media only screen and (max-width:480px){
    .hero{
        height: 150px;
        padding-left: 10px
    }
    .hero-title{
        font-size: 35px
    }
    #banner-prin{
        background-attachment: initial;
        
    }
    #banner-prin h1{
        font-size: 2.5em;
    }
    .homeHeroButtons .button{
        margin-top: 10px;
    }
}

.homeHeroButtons .button{
    display: inline-block;
    font-weight: 800;
    width: 200px;
    height: 50px;
    padding-top: 2px;
    margin-right: 20px;
    vertical-align: top;
}
.homeHeroButtons .button:first-child{
    padding-top:6px
}
.homeHeroButtons-span{
    position:  absolute;
    width: 100%;
    bottom: 0;
    left: 20px;
    font-size: 14px
    
}
/*------------------------------------
                FOOTER
-------------------------------------*/

.footer{
    text-align: center;
}
.footer-share-item + .footer-share-item{
    margin-left: 20px
}

@media only screen and (max-width:992px){
    .footer-share-item + .footer-share-item{
        margin-left: 0
    }
    .footer-share-item{
        display: block;
        margin-top:  20px;
    }
}

/*------------------------------------
            NUESTRO EQUIPO
-------------------------------------*/

.hero-team{
    background-image: url('/images/equipo/hero.jpg');

}
.team:after{
    content: "";
    display: table;
    clear: both
}

.team{
    margin-top: 50px;
    text-align: center;
}

.team img{
    width: 100%;
    max-width: 200px;
}

.team-col{
    float: left;
    width: 20%;
    padding: 0 30px
}

.team-name{
    min-height: 10px;
    font-size: 17px;

}
.team-name,.team-job{
    color: #535353
}

.team-bio{
    font-size: 12px;
    color: #646464
}


@media only screen and (max-width:780px){
    
    .team{
        text-align: left
    }
    .team-col:after{
        content: "";
        display: table;
        clear: both
    }
    
    .team img{
        float: left;
        width: 20%
    }
    .team-name{
        margin: 0
    }
    .team-info{
        padding-left: 35px;
        float: right;
        width: 80%
    }
    .team-col{
        width: 100%
    }
    .team-col + .team-col{
        margin-top: 40px;
    }
}


@media only screen and (max-width:480px){
    .team-info{
        padding-left: 25px;
    }
    .team-col{
        padding: 0 20px 0 10px
    }
}



/*------------------------------------
            QUE OFRECEMOS
-------------------------------------*/
.serviceContainer{
    margin: 0 auto 0 auto!important;
    max-width: 1200px
}
.hero-services{
    background-image: url('/images/servicios/ofrecemos.jpg');
}


.services-list{
    padding:  0
}

.services-list:after{
    content: "";
    display: table;
    clear: both
}

.services-list li{
    float: left;
    margin-top: 10px;
}

.services-section{
    padding: 0 5%
}

.services-section + .services-section{
    margin-top:  50px
}

.services-list li:before{
    content: "";
    display: inline-block;
    margin-right: 10px;
    width: 4px;
    height: 4px;
    vertical-align: middle;
    background-color: black;
    border-radius: 100%
}

.services-list li{
    margin-right: 3%
}

/*------------------------------------
                RRHH
-------------------------------------*/
.hero-rrhh{
    background-image: url('/images/servicios/rrhh.jpg')
}

.service-form{
    padding: 20px;
    background-color:  #bdbab9;
    border-radius: 10px;
    
}

.service-contact-title,.service-contact-subtitle{
    color: white
}

.service-contact-title{
    font-size: 25px;
    font-weight: 800;
    text-transform: uppercase
}

.service-contact-subtitle{
    font-size: 15px
}

.service-form-input{
    width: 100%;
    border-radius: 6px;
    border: 0;
    padding: 5px 10px
}
.service-form-input + .service-form-input{
    margin-top: 8px;
}

.service-form-submit{
    margin: 20px auto 0 auto;
    display: block;
    padding: 8px 20px;
    font-size: 16px;
    color: #2e2e2e;
    border: 0;
    background-color: rgb(239, 239, 239);
    border-radius: 6px;
}

.video{
    margin-bottom: 12px;
    padding: 10px;
    background-color: #ededed
}

.video-text{
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    width: 43%;
    font-size: 15px;
    color: #696969;
}

/*------------------------------------
                CONTACTO
-------------------------------------*/

.hero-contact{
    background-image: url('/images/contacto/banner.jpg')
}

.contact-info-item{
    text-align: center;
}

.contact-info-title{
    color: #9fe31f;
    font-size: 25px
}
.contact-info-title span{
    font-size: 10px
}

.contact-info-desc{
    font-size: 12px;
    color: #2f2f2f
}

.contact-form{
    margin-top: 40px;
}

.contact-form-item + .contact-form-item{
    margin-top: 30px;
}

.contact-form-input,.contact-form-textarea{
    width: 100%;
    border: 0;
    border-radius: 5px;
    background-color: #f4f4f4;
}

.contact-form-label{
    font-size: 17px;    
    font-weight: 200;
    color: #151515
}

.contact-form-input{
    height: 42px; 
    
}

.contact-form-textarea{
    height: 150px
}

.contact-form-send{
    margin: 20px auto 0 auto;
    display: block;
    padding: 8px 20px;
    font-size: 16px;
    color: #2e2e2e;
    border: 0;
    background-color: rgb(239, 239, 239);
    border-radius: 6px;
}

.contact-links-item:first-of-type{
    background-image: url('/images/contacto/side-1.jpg')
}

.contact-links-item:last-of-type{
    background-image: url('/images/contacto/side-2.jpg')
}

.contact-links-item{
    height: 230px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 35px;
}

.contact-links-container{
    position: absolute;
    bottom: 30px
}

.contact-links-item-title,.contact-links-item-text{
    color: white
    
}

.contact-links-item-title{
    font-weight: 800;
    font-size: 28px
}

/*------------------------------------
                TALLERES
-------------------------------------*/
.hero-workshops{
    background-image: url('/images/servicios/talleres.jpg')
}

/*------------------------------------
                CLIENTES
-------------------------------------*/

.hero-clients{
    background-image: url('/images/clientes/banner.jpg')
}

.clients{
    text-align: center
}
.clients-text{
    max-width: 800px;
    margin: 20px auto;
    font-size: 18px;
    color: #464646
}
.clients-logos{
    margin-top: 80px;
}